# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
java/ECI2017_Concurrency_A/out/
java/ECI2017_Concurrency_B/out/
java/ECI2017_Concurrency_B/.idea/
java/ECI2017_Concurrency_A/.idea/
